header {
  height: 56px;
  background-color: #161622;
  display: flex;
  position: sticky;
  top: 0;
  border-bottom: 2px solid white;
  z-index: 10;
}

header > a {
  flex: 0 0 48px;
  font-size: 48px;
  line-height: 48px;
  width: 48px;
  text-align: center;
  border-right: 2px solid white;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header > h1 {
  flex: 1;
  color: white;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.armiesMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.armiesMenu > li > a {
  display: block;
  padding: 12px;
  text-decoration: none;
  background-color: #0c3455;
  color: white;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.homeViews,
.armyViews,
.submenu {
  height: 50px;
  background-color: #161622;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 2px solid white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu {
  bottom: 50px;
}

.homeViews > li,
.armyViews > li,
.submenu > li {
  flex: 1 1 0px;
  margin: 0;
  padding: 0;
}

.homeViews > li > a,
.armyViews > li > a,
.submenu > li > a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 8px;
  border-right: 2px solid white;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}

.homeViews > li > a.selected,
.armyViews > li > a.selected,
.submenu > li > a.selected {
  background-color: white;
  color: #161622;
}

.homeViews > li:first-child > a,
.armyViews > li:first-child > a {
  border-left: 2px solid white;
}

.armyDetails {
  padding-top: 4px;
  padding-bottom: 42px;
}

.unitSummaries {
  list-style: none;
  padding: 0;
  margin: 0 16px;
}

.unitSummaries > li
{
  display: block;
  margin: 0;
  padding: 0;
  background-color: #161622;
  text-indent: 0;
  margin-bottom: 16px;
}

.unitSummaries > li > a,
.unitSummaries > li > a:focus,
.unitSummaries > li > a:visited {
  text-decoration: none;
  color: black;
}

.unitHeader {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  display: block;
  border-bottom: 1px solid white;
}

.unitProfileHeader {
  color: white;
  padding: 2px 6px;
}

.unitStats > ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 16px;
  gap: 24px;
  justify-content: center;
  color: black;
}

.unitStats > ul > li {
  flex: 0 0 32px;
  text-align: center;
}

.profileItemLabel {
  color: white;
  font-weight: bold;
  padding: 4px 0;
  display: block;
}

.profileItemValue {
  background-color: white;
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
  font-weight: bold;
}

.invulnerableSave .profileItemValue {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.pivotValue .profileItemValue {
  border-radius: 16px;
}
.pivotValue {
  position: relative;
}
.pivotArrow1, .pivotArrow2 {
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 0 2px 12px 8px;
  border-color: transparent transparent white transparent;
  z-index: 1;
}
.pivotArrow1 {
  transform: rotate(160deg);
  bottom: 13px;
  right: -6px;
}
.pivotArrow2 {
  transform: rotate(-20deg);
  top: 22px;
  left: -6px;
}

.abilitySummary {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px 8px 8px;
  list-style: none;
  gap: 8px;
}

.abilitySummary > li {
  padding: 2px 6px;
  background-color: white;
  font-weight: bold;
  white-space: nowrap;
}

.otherAbilitySummary {
  color: white;
  list-style: none;
  border-top: 1px solid white;
  padding: 0;
}
.otherAbilitySummary > li {
  padding: 4px;
}
.otherAbilitySummary > li > label {
  font-weight: bold;
  margin-right: 4px;
}

.armyRules {
  list-style: none;
}

.strategems,
.armyRules {
  list-style: none;
  padding: 0 0 64px 0;
  display: flex;
  flex-direction: column;
}

.strategem {
  margin: 0 16px 16px 16px;
  border: 1px solid #161622;
  border-radius: 12px;
}

.strategem > h2 {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 8px;
  margin: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.strategem.either > h2 {
  background-color: rgb(32,98,88);
  color: white;
}

.strategem.yourTurn > h2 {
  background-color: rgb(13,77,107);
  color: white;
}

.strategem.opponentTurn > h2 {
  background-color: rgb(163,19,23);
  color: white;
}

.strategem .title {
  flex: 1;
}

.strategem .cost {
  flex: 0 0 50px;
  align-self: flex-end;
}

.strategem label {
  font-weight: bold;
}

.strategem p {
  padding: 0 12px;
}

.armyRules > li {
  margin: 0 16px 16px 16px;
}

.armyRules > li > h2 {
  margin: 0 0 8px 0;
}

.unitDetails {
  background-color: #161622;
  color: white;
}

.unitDetails h2,
.weapons th {
  background-color: #0c3455;
  margin: 0;
  padding: 8px;
  text-align: left;
}

.unitDetails h2 {
  font-size: 16px;
}

.unitStats {
  padding-bottom: 8px;
}

.weapons {
  border-collapse: collapse;
  width: 100%;
}

.weapons td {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 8px;
  font-weight: bold;
}

.weaponProfile {
  border-top: 1px solid black;
}

.weapons tbody > td:first-child {
  border-top: none;
}

.abilities {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 6px;
}

.abilities > li {
  padding: 2px 4px;
  border: 1px solid rgba(14, 30, 37, 0.32);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  white-space: nowrap;
}

.unitAbilities,
.unitLeader,
.keywords,
.patrolSquads,
.wargear,
.unitDamaged {
  background-color: white;
  color: black;
  padding-bottom: 6px;
}

.unitAbilities > div {
  display: flex;
  padding: 6px 4px;
}

.unitAbilities > div > label {
  font-weight: bold;
  display: block;
  padding: 2px 4px;
  margin-right: 4px;
}

.unitAbilities > div.otherAbility {
  padding: 6px 8px;
  display: block;
}

.unitAbilities > div.otherAbility > label {
  display: inline-block;
  margin-right: 4px;
  font-weight: bold;
  padding: 0;
}

.unitLeader,
.patrolSquads,
.wargear,
.unitDamaged {
  padding: 4px 8px 8px 8px;
}

.unitLeader > ul {
  margin-top: 4px;
  margin-bottom: 0;
  list-style: square;
}

.keywords > p {
  margin: 0;
  padding: 4px 8px;
}

.keywords label,
.wargear label {
  font-weight: bold;
  margin-right: 4px;
}

.unitComposition {
  background-color: white;
  color: black;
  margin: 0;
  padding: 6px;
}

.unitComposition label {
  font-weight: bold;
  margin-right: 8px;
}

.modalFog {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.infoModal {
  position: fixed;
  top: 58px;
  left: 2%;
  width: 96%;
  background-color: white;
  border: 2px solid #0c3455;
  z-index: 100;
}

.infoModal > h2 {
  background-color: #0c3455;
  margin: 0;
  color: white;
  display: flex;
}

.infoModal > h2 > span {
  flex: 1;
  padding: 4px 8px 8px 8px;
}

.infoModal > h2 > button {
  justify-self: end;
  width: 48px;
  height: 100%;
  background-color: #0c3455;
  border: none;
  color: white;
  margin: 0;
  padding: 4px 8px 8px 8px;
  font-size: 24px;
  font-weight: bold;
  border-left: 2px solid white;
  cursor: pointer;
}

.infoModalContents {
  padding: 0 8px;
}

.infoAbilitySummary {
  background-color: lightgray;
  list-style: square;
  padding: 8px 8px 8px 28px;
  border-radius: 8px;
}

.infoAbilityExample {
  border-left: 4px solid gray;
  font-style: italic;
  padding: 8px;
  margin-bottom: 8px;
}

.infoAbilityExample > label {
  font-weight: bold;
}

.weapons td.reminderText {
  font-weight: normal;
  font-style: italic;
}

.weapons tfoot > td {
  border-top: 1px dotted black;
}

.center {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.dice {
  width: 64px;
  height: 64px;
}

.plus {
  width: 64px;
  height: 64px;
}

.svgPatterns {
  position: absolute;
}

.psychicTest {
  background-color: #0c3455;
  color: white;
  padding: 4px;
}

.scoreboardView {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #161622;
  color: white;
}

.scoreboard {
  flex: 1;
  display: flex;
}

.resetControls {
  flex: 0 0 auto;
  text-align: center;
  padding: 12px 12px 66px 12px;
}

.playerScoreboard {
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: xx-large;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scoreValue,
.scoreTotal {
  font-size: 54px;
}

.scoreValue {
  margin: 0px 24px;
}

.scoreTotal {
  border-top: 1px solid white;
  width: 20%;
  margin: 0 auto;
  padding-top: 16px;
}

.score > button,
.scoreControls > button,
.resetControls > button {
  background-color: #0c3455;
  color: white;
  border: 1px solid white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.score > button {
  margin: 12px 0 0 0;
  height: 42px;
  width: 42px;
}

.scoreControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
  margin-top: 16px;
}

.scoreControls > button {
  width: 48px;
  height: 42px;
}

.resetControls > button {
  padding: 8px 16px;
}